// Base color
$primary-color: #054BA6;
$secondary-color: #d4a017;
$on-primary:white;
// Lighter shades
$primary-lightest: #d2e4f7;
$primary-lighter: #9ec3e6;
$primary-light: #6b9fd5;
// Darker shades
$primary-dark: #043d7a;
$primary-darker: #03305d;
$primary-darkest: #02233f;

// Accent colors (variantes para botões ou detalhes)
$accent-light: #356a99;
$accent-dark: #02315e; 

// Neutrals (para contrastes e equilíbrio)
$neutral-light: #f4f4f4; // Usado para fundos e áreas de respiro
$neutral-medium: #d6d8d5; // Usado para bordas e divisores
$neutral-dark: #3a3a3a; // Para texto escuro em fundos claros

// Opacity variations
$primary-opacity-80: rgba($primary-color, 0.8);
$primary-opacity-60: rgba($primary-color, 0.6);
$primary-opacity-40: rgba($primary-color, 0.4);